/* App.css */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #121212;
  color: #ffffff;
  margin: 0;
  font-family: Arial, sans-serif;
}

.header {
  padding: 20px;
  background-color: #1f1f1f;
  display: flex;
  align-items: center;
}

.header h1 {
  margin: 0;
  color: #ffffff;
}

.header img {
  max-width: 150px;
  width: auto;
  height: auto;
  margin-left: 10px;
  margin-right: 10px;
}

.section {
  display: flex;
  flex-direction: column; /* Align items vertically */
  align-items: center; /* Center horizontally */
  text-align: center; /* Center text */
  padding: 20px; /* Add some padding */
  background-color: #1f1f1f;
  color: #ffffff;
}

main {
  padding: 20px;
}

/* Styles for the portfolio projects */
.section > div {
  margin-bottom: 20px; /* Space between project entries */
  width: 100%; /* Full width for the container */
}

.section img {
  max-width: 100%; /* Responsive images */
  height: auto; /* Maintain aspect ratio */
}

h2,
h3 {
  margin: 10px 0; /* Consistent margins for headings */
}

/* App.css */

.nav-link,
.portfolio-link {
  color: #ffffff; /* Light text color */
  text-decoration: none; /* Remove underline */
}

/* .nav-link:hover, */
.portfolio-link:hover {
  border-color: #646cff;
  /* color: #f0c674; */
  text-decoration: underline; /* Underline on hover */
}

/* Additional styling for the project titles */
.portfolio-title {
  font-weight: bold; /* Make titles bold */
}

.view-code-link {
  margin-bottom: 30px; /* Adjust the value as needed */
}

/* Additional styles for other components? */

/* .section {
  border: 1px solid red;
}

.section > div {
  border: 1px solid blue;
} */
